<!--<div class="menu">
    <a href="/" class="logo">My Site</a>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        @if (SignInManager.IsSignedIn(User)) {
            <li>
                <form asp-controller="Account" asp-action="Logout">
                    <button type="submit">logout</button>
                </form>
            </li>
            <li>
                Hello @UserManager.GetUserName(User)!
            </li>
        } else {
            <li>
                <a href="/account/login">Sign In</a>
                <a href="/account/register">Sign Up</a>
            </li>
        }
    </ul>
</div>-->
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ModelHovel</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="MemberIndex">Members</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
</div>
