<h2>Welcome to the ModelHovel</h2>

<p>The ModelHovel is a place where model builders can keep track of their
    ever-growing stash of unbuilt kits. Users can also search for more
    kits to purchase for their stash.</p>