@model ApplicationUser

<h2>Member Details</h2>



<h3>@Model.UserName</h3>


<a href="/mmembers/@(Model.UserName)/stash/items/new"><button type="submit">Add To Stash</button></a>

<h4>Your Current Stash</h4>

<p>There are currently @Model.StashList.Count() items in your stash.</p>









