/* @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/typeplate-starter-kit/dist/css/typeplate.css"; */


@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    font-size: 0;
    text-align: justify;

    & > * {
        display: inline-block;
        font-size: medium;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

.form-signin {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.member-details {
    display: inline-block;
}

.custom-search {
    display: inline-block;
}


.intro {
    padding-top: 10px;
    text-align: center;
}

.members-table {
    padding-top: 200px;
}


@define-mixin grid_r $col, $width {
        @media (min-width: $(width)px) {
                .grid-$(col)-$(width) {
                    & > * {
                       width: calc(100 / $col)%;
                }
            }
    }
}

@mixin grid_r 2, 400;
@mixin grid_r 2, 500;
@mixin grid_r 2, 600;
@mixin grid_r 3, 600;
@mixin grid_r 4, 800;
@mixin grid_r 6, 1000;

body {
    padding-top: 70px;
    
}